DevGuideSamples/ExceptionHandling/ExceptionHandling/Service References/SalaryService/SalaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetWeeklySalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="weeks" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklySalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWeeklySalaryResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>