DevGuideSamples/ExceptionHandling/ExceptionHandling/Service References/SalaryService/SalaryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExampleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExampleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11150/SalaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SalaryCalculationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultID" type="ser:guid" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaryCalculationFault" nillable="true" type="tns:SalaryCalculationFault" />
</xs:schema>